body{
font-family: Arial;
background:#f4f6f9;
}

.container{
width:400px;
margin:auto;
text-align:center;
}

input{
padding:8px;
margin:10px;
}

button{
padding:8px 12px;
background:#2c3e50;
color:white;
border:none;
}

.weatherBox{
background:white;
padding:15px;
margin-top:15px;
border-radius:6px;
}

.forecast{
display:flex;
justify-content:space-between;
}

.forecastBox{
background:#eee;
padding:8px;
margin:5px;
}

.error{
color:red;
}