body{
font-family:Arial;
background:#f2f4f7
}

.box{
width:350px;
margin:50px auto;
background:white;
padding:25px;
border-radius:6px
}

label{
display:block;
margin-top:12px
}

input{
width:100%;
padding:8px;
margin-top:5px;
border:1px solid #ccc
}

button{
margin-top:18px;
padding:10px;
width:100%;
background:#222;
color:white;
border:none
}

span{
font-size:13px;
color:red
}

#strength{
margin-top:4px;
font-size:13px
}

